:root {
  --global-image: linear-gradient(135deg, #F3EAF3 0%, #DCE7F9 100%);
  --text-color: black;
  --button-background: #eeeeee;
  --button-text-color: #000000;
}

[data-theme="dark"] {
  --global-image: linear-gradient(135deg, #12100E 0%, #2B4162 100%);
  --background-color: #000000;
  --text-color:  white;
  --button-background: #333333;
  --button-text-color: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  background-image: var(--global-image)
}


a {
  color: inherit;
  text-decoration: none;
}

