:root{
    --global_image: linear-gradient(135deg, #F3EAF3 0%, #DCE7F9 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-image: linear-gradient(135deg, #F3EAF3 0%, #DCE7F9 100%);
}


a {
  color: inherit;
  text-decoration: none;
}

.globalmargin{
  margin-left: 72px;
}